<div class="container">
    <h1>My jobs</h1>
    <div class="table-actions">
        <button mat-raised-button color="primary" (click)="openCreateJobDialog()">Create</button>
    </div>
    <table mat-table [dataSource]="jobs">
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef class="title"> <h3>Title</h3> </th>
            <td mat-cell *matCellDef="let element" class="title"> {{element.title}} </td>
        </ng-container>
        <ng-container matColumnDef="numOfProposals">
            <th mat-header-cell *matHeaderCellDef class="proposals" style="width: 5%;"> <h3>Proposals</h3> </th>
            <td mat-cell *matCellDef="let element" class="proposals" style="width: 5%;">10</td>
        </ng-container>
        <ng-container matColumnDef="interviewing">
            <th mat-header-cell *matHeaderCellDef class="interviewing" style="width: 5%;"> <h3>Interviewing</h3> </th>
            <td mat-cell *matCellDef="let element" class="interviewing" style="width: 5%;">2</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" class="job-actions">
                <button mat-mini-fab color="primary" title="Full info" *ngIf="hoveredRow === element" (click)="openJobInfoDialog(element)">
                    <mat-icon>more_horiz</mat-icon>
                </button>
                <button mat-mini-fab color="primary" title="Proposals" *ngIf="hoveredRow === element" (click)="openProposals(element)">
                    <mat-icon>handshake</mat-icon>
                </button>
                <button mat-mini-fab color="warn" title="Delete" *ngIf="hoveredRow === element" (click)="deleteJob(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
            (mouseenter)="hoveredRow = row" (mouseleave)="hoveredRow = null">
        </tr>
    </table>
    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10]"
              aria-label="Select page">
    </mat-paginator>
</div>
