@use '@angular/material' as mat;

$my-palette: mat.define-palette(mat.$indigo-palette);

.icon-text-align {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container {
    width: 70%;
    height: 100%;
    margin-left: 15%;
    border: solid 1px;
    border-radius: 1%;
    border-color: mat.get-color-from-palette($my-palette);
    display: flex;
    flex-direction: row;
}

.side-content {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: solid 1px mat.get-color-from-palette($my-palette);
}

.general-info {
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 96%;
    height: 35%;
    border-bottom: solid 1px mat.get-color-from-palette($my-palette);
}

.general-info div {
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.general-info div span {
    margin-bottom: 2%;
}

.profile-picture {
    width: 50%;
    height: 50%;
    border-radius: 50%;
}

.name {
    margin-top: 1%;
    font-size: xx-large;
}

.main-content {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.profile-summary {
    padding-left: 5%;
    padding-right: 5%;
    height: 30%;
    overflow-y: scroll;
    border-bottom: solid 1px mat.get-color-from-palette($my-palette);
}  

.about-me {
    margin-top: 10%;
    padding-left: 2%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    border-bottom: solid 1px mat.get-color-from-palette($my-palette);
}

.languages .icon-text-align {
    font-size: large;
}

.languages div {
    margin-top: 2%;
    margin-left: 5%;
}

.availability {
    margin-top: 10%;
}

.profession {
    padding-left: 2%;
    margin-top: 10%;
}

.profession div {
    margin-bottom: 2%;
}
