h2 {
    text-align: center;
}

button {
    font-size: large;
}

form {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-container {
    display: flex;
    flex-direction: column;
}

.contact-container div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.submit-button-container {
    display: flex;
    justify-content: flex-end;
}